.featured-project-nobg .link-simple {
    top: 50%;
}

.description-box {
    float: left;
    width: 33.33% !important;
    height: 250px;
}

.project-tabs { 
    float: none !important;
    text-align: center !important;  
    height: auto;
}
.project-tabs > ul {
    /*max-width:  800px; */
}
.project-tabs > li{
    float: none !important;
    display: inline !important;
}

.project-tabs > li > a {
    display: inline-block !important;
}

.nav-tabs.tabs.style-3.five .nav li {
    width: 20%
}

.nav-tabs.tabs.style-3.four .nav li {
    width: 25%
}

.nav-tabs.tabs.style-3.three .nav li {
    width: 33%
}

.project-header  p  {
    line-height: 150%;
    /*margin: 0;
    padding: 0;*/
} 


.project-header h6  {
    margin: 2em 0 0 0;
    padding: 0;
} 




#rei {
    width: 35%;
    margin-top: 10px;
    height: auto;
}


.ramble-yellow {
     -webkit-box-shadow: 0 4px 5px rgba(0,0,0,.3);
    -moz-box-shadow: 0 4px 5px rgba(0,0,0,.3);
    box-shadow: 0 4px 5px rgba(0,0,0,.3);
    border-radius: 10px;
    background-color: rgba(255, 218, 90, 0.8);

    /*background-color: #FFDA5A;*/
}

.inline-text *{
    display: inline;
}
.invision-wrap{
   width: 263px; height: 558px; padding: 0; overflow: hidden;
}


.invision-embed{
        -ms-zoom: 0.6;
        -moz-transform: scale(0.6);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.6);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.6);
        -webkit-transform-origin: 0 0;
}

.xd-wrap{
   width: 970px; height: 600px; padding: 0; overflow: hidden;
}



.xd-embed{
-ms-zoom: 0.63;
        -moz-transform: scale(0.63);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.63);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.63);
        -webkit-transform-origin: 0 0;
}

.vid-scale{
-ms-zoom: 0.82;
        -moz-transform: scale(0.82);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.82);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.82);
        -webkit-transform-origin: 0 0;
}



.byline {
    font-family: 'Raleway', sans-serif;
    font-size:19px;
    color: rgba(7,15,23,.8);
    font-weight:400;
    line-height:1.7em;
}

.project-header .byline{
    line-height: 1.3em;
}

h4.byline{
    font-size:22px;
}

h5.byline{
    font-size:24px;
    font-weight:600;
}
h1 .period {
    font-size:35px;
}

h3 .period {
    font-size:25px;
}

.period {
    font-weight:700;
    color:#e65b6c;
    line-height: 1.8em;
}

.all-caps {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: 'uppercase';
    color: #2c2c2c;
}

.coral {
  color:#e65b6c !important;
}


.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}



body {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  color: #e65b6c;
}


/* .section SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section {
  background: white;

}

.section .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section h1 {
  font-size: 2.5rem;
}

.section h2 {
  font-size: 1.3rem;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
  white-space: nowrap;
  overflow-x: hidden;
}

.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 250px 0;
  transition: all 1s;

}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 18%;
  height: 3px;
  background: lightgrey;
}

.timeline ol li:last-child {
  width: 280px;
}

.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #F45B69;
}

a.bg-primary:focus, a.bg-primary:hover {

    background-color:rgba(230, 91, 108,0.8) !important;
}

p a {

    font-family: 'Source Sans Pro', sans-serif;
font-weight:bold;
}

article h6 {
    margin-top:0px;
}